.menu {
  .bar {
    width: 100%;
    height: var(--nav-bar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: rgba(31, 49, 68, 0.8);
    backdrop-filter: blur(3px);
    color: #f4f5f7;
    position: fixed;
    top: 0;
    padding: 0 20px;
    z-index: 500;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    .left-items,
    .right-items {
      display: flex;
      align-items: center;
      width: 100px;
    }
    .right-items {
      justify-content: flex-end;
    }
    .menu-icon {
      cursor: pointer;
      width: 30px;
      color: #f4f5f7;
      &:before,
      &:after,
      .mid {
        background-color: #f4f5f7;
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        transition: all 0.3s ease;
        border-radius: 4px;
        margin: 5px 0;
      }
      &.active {
        &:before {
          transform: rotate(-45deg) translate(-10px, 0px);
        }
        .mid {
          opacity: 0;
        }
        &:after {
          transform: rotate(45deg) translate(-12px, -3px);
        }
      }
      &:hover {
        opacity: 0.8;
      }
    }
    .tool-icon {
      cursor: pointer;
      margin-left: 15px;
      width: 25px;
      &:hover {
        opacity: 0.8;
      }
    }
    .title {
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      .react-icon {
        margin-right: 8px;
        font-weight: 500;
        animation: react-icon-anima 7s infinite linear;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .navs {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    overflow-y: auto;
    margin-top: var(--nav-bar-height);
    background-color: var(--bg-color);
    padding: 20px 15px;
    z-index: 100;
    transition: left 0.4s ease-in-out, background-color 0.3s ease-out;
    .item {
      display: flex;
      cursor: pointer;
      width: 100%;
      color: var(--primary-color);
      padding: 12px 15px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 5px;
      &:hover:not(.active) {
        background-color: var(--secondary-lite-color);
      }
      &.active {
        color: var(--secondary-color);
        font-weight: 600;
      }
      .nav-icon {
        margin-right: 10px;
      }
    }
  }
  &::before {
    content: '';
    position: fixed;
    top: var(--nav-bar-height);
    left: 0;
    width: 0;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
  }
  &.navs-open {
    &::before {
      width: 100%;
    }
    .navs {
      left: 0;
    }
  }
}

@media only screen and (min-width: 400px) {
  .app {
    .menu {
      &.navs-open {
        &::before {
          z-index: 99;
          background-color: rgba(0, 0, 0, 0.5);
        }
        .navs {
          width: 320px;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .app {
    .menu {
      &.navs-open {
        .navs {
          width: 100%;
        }
      }
    }
  }
}

.path-home {
  .menu {
    .bar {
      background-color: transparent;
      &.active {
        background: rgba(31, 49, 68, 0.7);
      }
    }
  }
}

@keyframes react-icon-anima {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
