@import './ig.css';

.ig-filter {
  .filter-block {
    padding: 10px 20px;
    .item {
      width: 100%;
      &:hover {
        opacity: 0.8;
      }
      &.active {
        border: 3px solid rgb(255, 200, 0);
        border-radius: 3px;
      }
      figure {
        width: 100%;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
      .name {
        color: white;
        padding: 5px;
        background-color: rgba(20, 20, 20, 0.8);
        font-size: 1.2rem;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: white;
      cursor: pointer;
      background-color: rgba(20, 20, 20, 0.6);
      padding: 30px;
      border-radius: 5px;
      &:hover {
        background-color: rgba(20, 20, 20, 0.9);
      }
    }
  }
}
