@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Press+Start+2P&family=Rubik:wght@400;500&display=swap');
@import '@/stylesheet/variable';

:root {
  --bg-color: #282c35;
  --primary-color: #f9f9f9;
  --secondary-color: #ffa7c4;
  --secondary-lite-color: #fc919ace;
  --primary-shadow-color: rgb(255 255 255 / 40%);
}
.app.lite {
  --bg-color: #f4f5f7;
  --primary-color: #424242;
  --secondary-color: #2e66d6;
  --secondary-lite-color: #95b8f6f5;
  --primary-shadow-color: rgb(0 0 0 / 30%);
}
body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: 'Rubik', sans-serif;
  * {
    box-sizing: border-box;
  }
}

.app {
  height: 100vh;
  width: 100vw;
  * {
    transition: color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }
  > .content {
    width: 100%;
    min-height: calc(100% - 50px);
    margin-top: $navBarHeight;
    background-color: var(--bg-color);
    color: var(--primary-color);
  }
}
