.common-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  .btn {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: #888;
    display: flex;
    align-items: center;
    .switch {
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: white;
      transition: right 0.3s ease;
      right: 22px;
    }
    &.open {
      .switch {
        background-color: #90caf9;
        right: 3.5px;
      }
    }
    &:hover {
      background-color: #999;
    }
  }
}
