.home-block {
  background-color: var(--bg-color-4);
  .banner {
    height: 100vh;
    background-image: url('./assets/imgs/home-bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(128, 140, 253, 0.15);
      z-index: 1;
    }
    .title {
      font-size: 2.8rem;
      letter-spacing: 3px;
      line-height: 2rem;
      margin-bottom: 60px;
      font-weight: 800;
      .cursor-text {
        font-size: 1.5rem;
        margin-left: 2px;
        animation: cursor-text-anima 0.7s ease infinite;
      }
    }
    .down-bar {
      position: absolute;
      bottom: 40px;
      z-index: 3;
      animation: down-bar-anima 1s ease infinite alternate;
      a {
        display: block;
        padding: 30px 10px;
        font-weight: 800;
        color: #f9f9f9;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    .center {
      width: 92%;
      padding: 25px 50px 0;
      box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
      border-radius: 13px;
      background-color: var(--bg-color-3);
      &.s-size {
        padding: 20px 12px 0;
      }
      .block {
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .header {
          width: 100%;
          color: var(--primary-color);
          display: flex;
          align-items: center;
          letter-spacing: 1.3px;
          margin-bottom: 20px;
          > .icon-warpper {
            color: #f9f9f9;
            margin-right: 8px;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            border-radius: 50%;
            background-color: #666;
          }
          .content {
            text-transform: uppercase;
          }
        }
        .card {
          min-width: 130px;
          cursor: pointer;
          color: var(--primary-color);
          background-color: var(--bg-color-2);
          padding-bottom: 10px;
          border-radius: 5px;
          overflow: hidden;
          box-shadow: 0 0 5px var(--primary-shadow-color);
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
          .label {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0 7px;
            font-size: 1.2rem;
            line-height: 1.2rem;
            white-space: nowrap;
            font-weight: 500;
          }
          img {
            width: 100%;
            transition: transform 0.4s ease-in;
          }
        }
        .item-box {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 40px;
          border-radius: 6px;
          box-sizing: border-box;
          cursor: pointer;
          transition: transform 0.4s ease-out;
          width: 48%;
          border: 1px solid var(--secondary-lite-color);
          background-color: var(--bg-color-2);
          .left {
            width: 200px;
            overflow: hidden;
            .pic {
              border-radius: 6px 0 0 6px;
              background-repeat: no-repeat;
              background-size: cover;
              width: 100%;
              height: 100%;
              background-position: center center;
            }
          }
          .right {
            width: calc(100% - 200px);
            padding: 15px 15px 15px 20px;
            letter-spacing: 1px;
            .title {
              font-size: 1.3rem;
              font-weight: 600;
              border-bottom: 1px solid var(--secondary-lite-color);
              padding-bottom: 10px;
              margin-bottom: 8px;
              position: relative;
              display: flex;
              align-items: center;
              svg {
                margin-right: 5px;
              }
              &:after {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                content: '';
                width: 0;
                height: 2px;
                background-color: var(--secondary-color);
                transition: 0.4s ease-in-out;
                margin-top: 10px;
              }
            }
            .tags {
              display: flex;
              font-size: 1rem;
              justify-content: space-between;
              flex-wrap: wrap;
              margin: 5px 0;
              > span {
                display: flex;
                align-items: center;
                svg {
                  margin-right: 6px;
                }
              }
              .date {
                font-size: 0.9rem;
              }
            }
            .intro {
              font-size: 1.1rem;
              line-height: 1.6rem;
              text-align: justify;
              min-height: 100px;
              letter-spacing: 0;
            }
            .btns {
              display: flex;
              justify-content: flex-end;
              margin: 10px 0;
              > button {
                font-size: 0.9rem !important;
                margin-left: 10px;
                letter-spacing: 0.9px;
              }
            }
          }
          &:hover {
            box-shadow: 2px 4px 16px var(--secondary-lite-color);
            transform: translateY(-10px);
            .title {
              color: var(--secondary-color);
              &:after {
                width: 100%;
                left: 0;
              }
            }
          }
          &.s-size {
            width: 100%;
            .left,
            .right {
              width: 100%;
            }
            .left {
              border-radius: 6px 6px 0 0;
              height: 250px;
              .pic {
                border-radius: 6px 6px 0 0;
              }
            }
            .right {
              .title {
                font-size: 1.7rem;
                color: var(--secondary-color);
              }
              .tags {
                font-size: 1.1rem;
              }
              .intro {
                font-size: 1.3rem;
                line-height: 2rem;
              }
            }
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    font-size: 1rem;
    padding: 40px 0 20px;
    color: var(--primary-color);
    opacity: 0.8;
  }
}
@media only screen and (max-width: 400px) {
  .home-block .banner {
    .title {
      font-size: 24px;
    }
  }
}
@media only screen and (max-width: 900px) {
  .home-block .main .center .block .item-box {
    .left {
      width: 40%;
    }
    .right {
      width: 60%;
    }
  }
}
@keyframes cursor-text-anima {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes down-bar-anima {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(-60px);
  }
}

.intor-block {
  width: 1000px;
  max-height: 80vh;
  overflow: auto;
  img {
    width: 100%;
    height: auto;
  }
}
