.snake-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  position: relative;
  font-family: 'Press Start 2P';
  .map-block {
    position: relative;
    margin: 30px 0 20px;
    .top-info {
      width: 100%;
      position: absolute;
      top: -30px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 16px;
      .score {
        position: absolute;
        right: 5px;
      }
    }
    .status-btns {
      position: absolute;
      bottom: -75px;
      left: 0;
      button {
        width: 80px;
        margin: 0 7px;
        text-transform: uppercase;
      }
      .start {
        animation: start-btn-anima 0.7s infinite ease-in-out;
      }
    }
    .direction-btns {
      position: absolute;
      bottom: -40px;
      right: 0;
      width: 150px;
      button {
        position: absolute;
        width: 35px;
        &.down {
          left: 95px;
          top: 0;
        }
        &.left {
          left: 55px;
        }
        &.right {
          left: 135px;
        }
        &.up {
          left: 95px;
          top: -40px;
        }
      }
    }
  }
  .status-info {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top: 150px;
    color: white;
    letter-spacing: 3px;
    &.init {
      animation: init-status-info-anima 0.7s infinite ease-in-out;
      display: flex;
      align-items: center;
      .icon {
        font-size: 18px;
        margin: 0 7px;
      }
    }
  }
}

@keyframes init-status-info-anima {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes start-btn-anima {
  0% {
    box-shadow: 1px 1px 5px rgb(248 177 44);
  }
  50% {
    box-shadow: 1px 1px 20px rgb(248 177 44);
  }
  100% {
    box-shadow: 1px 1px 5px rgb(248 177 44);
  }
}
