// 為了支援不同裝置尺寸，拼圖 width 會根據裝置寬度響應，height 則使用 aspect-ratio 得到和 width 等比例的長度
// https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio

// https://stackoverflow.com/questions/68886003/css-aspect-ratio-not-working-in-safari-browser
@mixin safari-aspect-ratio-way {
  @supports not (aspect-ratio: 1 / 1) {
    &::before {
      float: left;
      padding-top: 100%;
      content: '';
    }
    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }
}

.jigsaw-game {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .actions {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 1px 1px 10px rgb(248 177 44);
    button {
      margin: 0 5px;
      white-space: nowrap;
    }
  }
  .main-block {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    .jigsaw-block {
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      width: 45%;
      max-width: 400px;
      background-color: rgb(252, 246, 236);
      box-shadow: 1px 1px 10px #aaa;
      position: relative;
      .box {
        width: 50%;
        aspect-ratio: 1 / 1;
        border: 1px solid #ccc;
        box-sizing: border-box;
        overflow: hidden;
        @include safari-aspect-ratio-way;
        .piece,
        .target {
          width: 100%;
          aspect-ratio: 1 / 1;
          background-size: 200%;
          cursor: pointer;
          @include safari-aspect-ratio-way;
          &:hover {
            opacity: 0.8;
          }
          &.order-1 {
            background-position: left top;
          }
          &.order-2 {
            background-position: right top;
          }
          &.order-3 {
            background-position: left bottom;
          }
          &.order-4 {
            background-position: right bottom;
          }
        }
      }
      .target {
        background-color: papayawhip;
      }
    }
  }
  .hint-modal {
    position: fixed;
    top: 80px;
    width: 50%;
    max-width: 400px;
    img {
      position: relative;
      z-index: 100;
      width: 100%;
    }
    &::before {
      content: '';
      position: fixed;
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.6);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
