.tic-tac-toe-game {
  margin-top: 30px;
  .reset {
    margin: 10px auto;
    display: block;
    text-transform: uppercase;
  }
  .board {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 330px;
    .cell {
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 2px 2px 5px var(--primary-shadow-color);
      font-size: 3.5rem;
      margin: 5px;
      flex: auto;
      max-width: 100px;
      min-width: 30%;
      height: 100px;
      background-color: var(--primary-color);
      color: var(--bg-color-3);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s ease-in-out;
      &.disabled {
        cursor: not-allowed;
      }
      &:hover:not(.disabled) {
        transform: scale(1.1);
      }
    }
  }
  .steps {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
    > button {
      margin: 5px;
    }
  }
}
